*, *:after, *:before{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  color: black;
}

.git{
  margin-left: 90%;
  text-decoration: none;
  font-size: 1.6em;
}

.git:hover{
  background-color: #ccc;
}

.back{
  margin-left: 90%;
  text-decoration: none;
  font-size: 1.5em;
}

.back:hover{
  background-color: #ccc;
}

.studio, .lab{
  font-size: 2em;
  position: absolute;
  margin-top: 20%;
  text-decoration: none;
  transform: rotate(-90deg);
}

.studio{
  margin-left: -1%;
}



.l_projects, .s_projects{
  /* margin-left: 45%; */
  /* margin-top: 18%; */
  font-size: 4.5em;
  text-decoration: none;
}

.l_projects{
  margin-left: 42%;
}

.s_projects{
  /* margin-top: 44%; */
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center
}

.l_projects:hover,.s_projects:hover{
  cursor: url(http://icons.iconarchive.com/icons/iconsmind/outline/48/Cursor-Click-2-icon.png), auto;
}

.titles{
  margin-left: 42%;
  font-size: 5em;
}

.one{
  margin-top: 18%;
  text-decoration: none;
}

.two{
  margin-left: 45%;
  text-decoration: none;
}
