*{
  font-family: Menlo, Monaco, "Droid Sans Mono", Consolas, "Lucida Console", "Courier New", monospace;
  color:white;

}


body{
    margin-top: 5%;
    background-color: rgb(41,44,52);
    margin-left: 5%;
}


.mybookmarklet{
  text-decoration: none;
  list-style: none;
  font-size: 10em;
}



button{
  background-color: rgb(47,50,64);
  border: none;

}


.letter{
  display: inline-block;
}

span{
  color: rgb(210,115,119);
}

h1{
  margin: 0;
  display: inline-block;
}

h2{
  margin: 0;
  display: inline-block;
}

h3{
  margin: 0;
  display: inline-block;
}

div{
  margin: 0;
  display: inline-block;
}
