* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: black;
}

.world{
  height: 200px;
  width: 200px;
  background: blue;
  border-radius: 50%;
  /* display: none; */
}

.new{
  position: absolute;
  top: 500px;
  left: 50%;
  background: red;
}
